<br />
<br />
<br />

<div class="row">
   <div class="col-md-4 col-md-offset-1" >
      <div class="jumbotron">
         <div class="row featurette">
            <div class="col-xs-4">
               <img 
                     class="featurette-image img-responsive img-thumbnail" 
                     ng-src="/social/assets/img/profilePics/{{currentUser.username}}.jpg" 
                     width="160px" 
                     height="160px">
            </div>
            <div class="col-xs-8">
               <h3 class="featurette-heading"><span class="text-muted">{{currentUser.name}} {{currentUser.last_name}}</span></h3>

               <p class="featurette-heading"><span class="text-muted">@{{currentUser.username}}</span>
               </p>

            </div>
         </div>
         <form class="form-horizontal" name="submitionForm">
            <fieldset>
               <!-- CONTENT  -->                    
               <div class="form-group col-xs-10">
                  <br />
                  <textarea 
                              rows="3" 
                              cols="50" 
                              class="form-control floating-label" 
                              id="focusedInput" 
                              placeholder="Add Message" 
                              ng-model="message.content" 
                              maxlength="{{maxlength}}"
                              required>
                  </textarea>
                  <span class="help-block">{{maxlength - message.content.length}}</span>
               </div>
               <!-- Submit/Cancel Buttons -->
               <div id="name-group" class="form-group">
                  <div class="col-xs-2">
                     <button 
                              type="submit" 
                              class="btn btn-primary btn-fab btn-raised mdi-content-add" 
                              ng-click="addMessage({message: message.content, userId: currentUser.id})"
                              ng-disabled="submitionForm.$invalid"></button>
                  </div>
               </div>
            </fieldset>
         </form>

      </div>
      <!-- .JUMBOTRON -->
   </div>
   <!-- .col-md-4 -->

   <div class="col-md-6">
      <div class="jumbotron">

         <div class="list-group">

            <div ng-repeat="chu in chus track by chu.id">
               <div class="list-group-item">
                  <div class="row-picture">
                     <img class="circle" ng-src="/social/assets/img/profilePics/{{getProfilePicture(chu.user_id)}}.jpg" alt="icon">
                  </div>
                  <div class="row-content">
                     <p class="username">{{getProfileName(chu.user_id)}} - {{getUsername(chu.user_id)}}</p>
                     <p class="post-content">{{chu.content}}</p>
                  </div>
               </div>
               <div class="list-group-separator"></div>
            </div>

         </div>
         <!-- .LIST-GROUP -->
      </div>
      <!-- .JUMBOTRON -->
   </div>
   <!-- .col-md-8 -->

</div>
<!-- row -->
<br />
<br />
<br />