<br />
<div class="jumbotron col-md-4 col-md-offset-4">
	<form class="form-horizontal" name="submitionForm">
            <fieldset>
                    <div class="form-group col-md-12">                        
                        <input 
                                    class="form-control floating-label" 
                                    id="username"
                                    placeholder="Username"
                                    name="user name"
                                    ng-model="user.username"
                                    type="text"
                                    required></input>

                    </div>

                    <div class="form-group col-md-12">                        
                        <input 
                                    class="form-control floating-label"  
                                    id="password"
                                    name="Password"
                                    ng-model="user.password"
                                    placeholder="Password"
                                    type="password"\
                                    required></input>

                    </div>

               <!-- Submit/Cancel Buttons -->
            <div id="name-group" class="form-group">
                <div align="middle">
                    <button 
                            type="submit" 
                            class="btn btn-primary"
                            ng-disabled="submitionForm.$invalid"
                            ng-click="login()">Log in
                    </button>
                </div>
                <p class="login-error">{{errorMessage}}</p>
            </div>
            </fieldset>
         </form>
</div>