    <div class="navbar navbar-default navbar-fixed-top" ng-controller="LoginController">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">she <i class="mdi-action-favorite-outline"></i> he</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav nav-pills">
          <li ng-class="{active: isActive('app')}"><a href="#/"><i class="mdi-action-home"></i> Home</a></li>
          <li ng-class="{active : isActive('new')}"><a href="#/new"><i class="mdi-communication-live-help"></i> New <span class="badge">3</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: isActive('todo')}"><a href="#/todo"><i class="mdi-editor-border-color"></i> To do!</a></li>
            <li ng-class="{active: isActive('settings')}"><a href="#/settings"><i class="mdi-action-settings"></i></a></li>
            <li><button 
                              type="submit" 
                              class="btn btn-primary btn-fab btn-raised mdi-action-exit-to-app" 
                              ng-click="logout()"></button></li>
        </ul>

      </div>
    </div>
    <!-- .NAV BAR -->