<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
        	<p id="development">This section is under development!</p>
        	<a href="#/" class="btn btn-primary btn-raised">Go back to home <i class="mdi-hardware-keyboard-arrow-right"></i></a>
        </div>
        <div class="jumbotron">

            <div class="list-group">

                <div ng-repeat="chu in chus track by chu.id">
                <div class="list-group-item" >
                    <div class="row-picture">
                        <img class="circle" src="{{currentUser.picture}}" alt="icon">
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">{{currentUser.name}} {{currentUser.last_name}}, {{chu.time}}</h4>
                        <p class="list-group-item-text">{{chu.content}}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                </div>

            </div> <!-- .LIST-GROUP -->
        </div> <!-- .JUMBOTRON -->
    </div> <!-- .col-md-8 -->

    </div> <!-- row -->

    <br />
    <br />
    <br />