<br />
<br />
<br />

<div class="row">
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h2>Future versions will include:</h2>
        <ul>
            <li><p>Interface design improvement.</p></li>
            <li><p>Pictures upload support.</p></li>
            <li><p>New/Unread messages.</p></li>
            <li><p>Real iOS & Andrroid app:</p>
            	<ul>
            		<li><p>Mobile optimized.</p></li>
            		<li><p>Pop up notifications.</p></li>
            		<li><p>Chat.</p></li>
            	</ul>
            </li>
            <li><p>Account settings.</p></li>
        </ul>
    </div>
</div>

<br />
<br />
<br />